{% extends 'base.html' %}
{% block title %} - Shopping Cart{% endblock %}

{% block content %}
<h2 style="margin-top: 60px;">Shopping Cart</h1>
<h2>Your total is: R$ {{total}}</h2>
<div style="float: right; margin-right: 30px;">
    <form action="/cart" method="get">
        <button type="submit" name="deleteAll" value=deleteAll class="btn btn-warning" style="display: inline-block;">Procced to Checkout</button>
    </form>
</div>
<div class="row" style="padding-top: 2%;">
    <div class="col-sm-6" style="padding-left: 10%;">
        {% if products.count == 0 %}
        <p style="margin-bottom: auto; margin-top: 15px;">There is no product in the shopping cart :(</p><br>
        <a href="/"><button class="btn btn-outline-primary">Go Shopping</button></a>
        {% endif %}
        <div class="card-columns" style="margin-top: 15px; column-count: 4; column-gap: 100px; margin-right: 100px;">
            {% for product in products %}
            <div class="card border-0 mt-5 mb-5" style="padding-top: 50%; width: 150px; margin-right: 300px;">
                <img class="card-img-top" style="width: 100px; height: 100px; border-radius: 10px;" src="{{product.imageUrl}}" alt="Card image cap">
                <div class="card-body" style="width: 150px;">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h6 class="card-subtitle text-muted">{{product.vendor}}</h6>
                    <p id="product-description">
                        R$ {{product.price}}
                    </p>
                    <form action="/cart" method="get">
                        <button type="submit" name="delete" value={{product.name}} class="btn btn-outline-danger" style="display: inline-block;">Remove</button>
                    </form>
                    <!-- <i class="bi-star-fill"></i><i class="bi-star-fill"></i><i class="bi-star-fill"></i><i class="bi-star-fill"></i><i class="bi-star-fill"></i> -->
                </div>
            </div>
            <div class="mt-3"></div>
            
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6" style="overflow: auto;">
        <!-- <img src="https://i.imgur.com/BWnweor.png" style="width: auto; padding-bottom: 50%; border-radius: 20px;" alt=""> -->
    </div>
</div>

{% endblock %}